# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Perform an ETL process with multiple tables and create a single dataset

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this SQL query to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
```

In [ ]:
# Your code here

In [15]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('lego.db')
cur = conn.cursor()

In [16]:
cur.execute('''SELECT name
               FROM sqlite_master
               WHERE type='table'
               ORDER BY name;''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]

In [17]:
cur.execute('''SELECT *
               FROM product_details''')
pdeets = pd.DataFrame(cur.fetchall())
pdeets.columns = [i[0] for i in cur.description]

cur.execute('''SELECT *
               FROM product_info''')
pinfo = pd.DataFrame(cur.fetchall())
pinfo.columns = [i[0] for i in cur.description]

cur.execute('''SELECT *
               FROM product_pricing''')
pprice = pd.DataFrame(cur.fetchall())
pprice.columns = [i[0] for i in cur.description]

cur.execute('''SELECT *
               FROM product_reviews''')
prevs = pd.DataFrame(cur.fetchall())
prevs.columns = [i[0] for i in cur.description]

In [19]:
products = pd.merge(pdeets, pinfo)
products = pd.merge(products, pprice)
products = pd.merge(products, prevs)
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
prod_desc            10870 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    10870 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity! In this lab, you successfully executed an ETL process to merge different tables!